@import './styles/variables';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $gray;
  overflow: visible;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: $gray-light;
}

::-webkit-scrollbar:hover {
  background-color: $gray-light;
}

::-webkit-scrollbar-thumb {
  background-color: $yellow;
  border-radius: 10px;
}

code {
  font-family: 'Poppins', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  // height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

span {
  font-family: 'Open Sans', sans-serif;
}

::selection {
  background: rgba(229, 196, 252, 0.75);
  color: #363636;
}

::-moz-selection {
  background: rgba(229, 196, 252, 0.75);
  color: #363636;
}

::-webkit-selection {
  background: rgba(229, 196, 252, 0.75);
  color: #363636;
}